.bar {
    color: var(--font-color-main);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    /* z-index: 10; */
}

.bar.bottom {
    bottom: 0;
}

.bar.top {
    top: 0;
}

.bar .row {
    position: relative;
    display: flex;
    flex: 1 1 0;
    align-items: center;
    padding: 1rem 1rem;
}

.bar .row:nth-of-type(2) {
    flex: 2 1 0;
    justify-content: center;
}

.bar .row:nth-of-type(3) {
    justify-content: flex-end;
}

.bar .row .row-element .hover-button {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    /* text-shadow: 0 0 3px #555; */
    height: 100%;
    transition: 0.2s;
    opacity: 0.8;
    /* transition: 0.9s; */
}

.bar .row .row-element .hover-button img {
    height: 25px;
    width: 25px;
    filter: drop-shadow(0 0 2px #333);
}

.bar .row .row-element .hover-button:hover {
    opacity: 1;
    cursor: pointer;
}

.rotate-hover:hover {
    transform: rotateZ(45deg);
}

.pointer:hover {
    cursor: pointer;
}
