.bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
}

.bar.bottom {
    bottom: 0;
}

.bar.top {
    top: 0;
}

.bar .row {
    display: flex;
    padding: 0.5rem 0.75rem;
}

.bar .row > div {
    margin: 0 0.375rem;
    text-shadow: 0 0 3px #555;
}