.blur {
    position: relative;
    overflow: hidden;
}

/* https://source.unsplash.com/featured/1920x1080?sky&dpr=2&auto=format&fit=crop&w=1920&h=1080&q=80&cs=tinysrgb&crop=&bg= */
.blur-background {
    background: url('https://source.unsplash.com/featured/1920x1080?sky,nature,stars,water') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    filter: brightness(1.5) blur(12px);
    position: absolute;
    z-index: 1;
    height: 300%;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
}

.blur-color {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.blur-color.light {
    background-color: #666;
    opacity: 0.5;
}

.blur-content {
    position: relative;
    z-index: 3;
    padding: 1rem 2rem;
}

.blur-content.no-pad {
    padding: 0;
}

.blur-content.small-pad-v {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.blur-content.small-pad-h {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
