.clock {
    border: none;
    display: flex;
    justify-content: space-evenly;
    text-shadow: 0px 0px 20px #000;
    overflow: visible;
    /* font-weight: lighter; */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.clock #time {
    font-size: 8rem;
    color: white;
    margin-bottom: -1rem;
    margin-top: -1rem;
}

.clock #date {
    font-size: 2rem;
    color: white;
    /* position: relative;
    top: -1rem; */
}