* {
    box-sizing: border-box;
}

body, input, button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(218, 218, 218);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: #333;
}

img {
    pointer-events: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


@media screen
and (max-device-width: 1280px) {
    .page-bg {
        background: url('https://source.unsplash.com/collection/827743/1280x720/daily') no-repeat center center fixed;
    }
}


@media screen
and (min-device-width: 1281px) {
    .page-bg {
        background: url('https://source.unsplash.com/collection/827743/1920x1080/daily') no-repeat center center fixed;
    }
}

@media screen
and (min-device-width: 1921px) {
    .page-bg {
        background: url('https://source.unsplash.com/collection/827743/2560x1440/daily') no-repeat center center fixed;
    }
}


@media screen
and (min-device-width: 2561px) {
    .page-bg {
        background: url('https://source.unsplash.com/collection/827743/3840x2160/daily') no-repeat center center fixed;
    }
}

.page-bg {
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1, h2 {
    margin: 0;
    font-weight: light;
}

h3, h4, h5 {
    margin: 0 0 0.5rem 0;
    border-bottom: 1px solid rgb(218, 218, 218, 0.5);
    padding-bottom: 0.125rem;
    font-weight: light;
}

.page-body {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    min-height: 100vh;
    padding: 3rem 0.5rem;
    width: 95%;
    max-width: 40rem;
    min-width: 20rem;
    margin: auto;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
