

.search-bar.section-container {
    width: 100%;
    overflow: visible;
    height: 4.5rem;
    z-index: 10;
}

.search-bar .icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    width: 30px;
    opacity: 0.9;
}

.search-bar .icon img {
    max-width: 20px;
    max-height: 20px;
}

.search-bar .engine-name {
    display: flex;
    color: var(--font-color-main);
    align-self: stretch;
    align-items: center;
    line-height: 100%;
    padding-right: 0.5rem;
    font-size: 0.8rem;
    opacity: 0.9;
    border-right: 1px solid #dadada36;
}

.search-bar .bar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.search-bar input, .search-bar button {
    padding: 0;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    
}

.search-bar .input-container {
    position: relative;
    flex-grow: 1;
}

.search-bar .input-container *:hover {
    cursor: text;
}

.search-bar input[type="search"] {
    padding: 0.5rem 0 0.5rem 0.5rem;
    height: 100%;
    width: 100%;
    color: var(--font-color-main);
    font-size: 1.25rem;
    /* font-weight: lighter; */
}

.search-bar #autocomplete-input {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: -1;
}

.search-bar button {
    cursor: pointer;
}

::placeholder, .search-bar button svg {
    opacity: 0.6;
    color: var(--font-color-main);
    fill: var(--font-color-main);
    font-weight: lighter;
}

.search-bar button svg {
    position: relative;
    top: 3px;
}

.search-bar .search-dropdown-container {
    width: 100%;
    border-bottom-left-radius: 0.15rem;
    border-bottom-right-radius: 0.15rem;
    border-top: 1px solid #dadada36;
    display: flex;
    flex-direction: column;
}

.search-bar .dropdown-row {
    width: 100%;
    color: var(--font-color-accent);
    padding: 0.25rem 10px;
    display: flex;
}

.search-bar .dropdown-row:hover {
    cursor: pointer;
}

.search-bar .dropdown-row p.row-content {
    flex-grow: 1;
}

.search-bar .dropdown-row p {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* font-weight: lighter; */
}

.search-bar .dropdown-row.selected-row {
    background-color: var(--background-color-highlight);
}

.search-bar .dropdown-row.selected-row .row-content {
    color: var(--font-color-main);
}

.search-bar .dropdown-row .icon {
    margin-right: 0.5rem;
}

.search-bar .dropdown-row img.enter {
    position: relative;
    top: 1px;
    margin-left: 10px;
    opacity: 0.6;
    width: 20px;
    align-self: center;
    filter: invert(1);
}

.search-bar .dropdown-row svg {
    position: relative;
    top: 2px;
    margin-left: 10px;
    opacity: 0.6;
    height: 20px;
    width: 20px;
    fill: rgb(218, 218, 218);
}