.search-bar {
    margin-bottom: 2rem;
}

.search-bar .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 40px;
    /* background-color: white; */
    opacity: 0.9;
}

.search-bar .icon img {
    max-width: 20px;
    max-height: 20px;
}

.search-bar .engine-name {
    display: flex;
    color: white;
    /* background-color: white; */
    align-self: stretch;
    align-items: center;
    line-height: 100%;
    padding-right: 0.5rem;
    font-size: 0.8rem;
    opacity: 0.9;
    border-right: 1px solid #dadada36;
}

.search-bar .bar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-bar input, .search-bar button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    
}

.search-bar input[type="search"] {
    padding: 0.125rem 0 0.125rem 0.5rem;
    flex-grow: 1;
    height: 100%;
    color: white;
    font-size: 1.25rem;
    font-weight: lighter;
}

.search-bar button {
    width: 3rem;
    cursor: pointer;
}

::placeholder, .search-bar button svg {
    opacity: 0.6;
    color: white;
    fill: white;
    font-weight: lighter;
}

.search-bar button svg {
    position: relative;
    top: 3px;
}

.search-bar .search-dropdown-container {
    width: 100%;
    border-bottom-left-radius: 0.15rem;
    border-bottom-right-radius: 0.15rem;
    border-top: 1px solid #dadada36;
    display: flex;
    flex-direction: column;
}

.search-bar .dropdown-row {
    width: 100%;
    color: #ddd;
    padding: 0.25rem;
}

.search-bar .dropdown-row.selected-row {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.search-bar .tab-icon {
    height: 25px;
    fill: rgb(218, 218, 218);
}