.section {
    position: relative;
    margin: 1rem 0;
    /* border-radius: 0.15rem; */
    border-radius: 0.75rem;
    overflow: hidden;
    border: 2px solid #dadada36;
}

.section.close-bottom {
    margin-bottom: 0.375rem;
}

.section.close-top {
    margin-top: 0.375rem;
}

.section.no-margin {
    margin: 0;
}

.section.shadow {
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.6);
    transition: 0.2s;
}

.section.shadow-always {
    box-shadow: 0px 1px 5px rgba(50, 50, 50, 1);
}

.section.shadow:focus-within {
    box-shadow: 0px 1px 5px rgba(50, 50, 50, 1);
    border: 2px solid #ffffff66;
}

.section.shadow-hover:hover {
    box-shadow: 0px 1px 5px rgba(50, 50, 50, 1);
    border: 2px solid #ffffff66;
}