.settings-overlay {
    
}

.settings.row {
    display: flex;
    justify-content: space-between;
    /* padding: 0.125rem 0; */
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    /* border-bottom: 1px solid hsla(0, 0%, 77%, 0.603); */
}

.settings.row:hover {
    background-color: rgba(255, 255, 255, 0.1);
}