/* .weather-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0rem;
    left: 1rem;
}

.weather-container .section:first-of-type {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    border-left: 2px solid #dadada36;
}

.weather-container .section:last-of-type {
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    border-right: 2px solid #dadada36;
}

.weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0.5rem 0.75rem;
    width: 6.45rem;

    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.weather.date {
    margin-bottom: 0.25rem;
}

.weather-box .state, .weather-container2 .state {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.weather-box .state img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    filter: brightness(1.2);
} */

.weather-container > div {
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
}

.weather-container:hover {
    cursor: pointer;
}

.weather-container .state {
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.weather-container .state img {
    height: 4rem;
    width: 4rem;
    filter: drop-shadow(0 0 20px rgb(0, 0, 0));
}

.weather-container .location {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
}