.weather-container > div {
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.weather-container {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 7rem; */
    padding: 0.5rem;
    color: white;
    border-radius: var(--border-radius-m);
    /* text-shadow: 0px 0px 10px #000; */
    /* border: 2px solid #aaaaaa; */
    /* font-weight: lighter; */
     background-color: var(--background-color-transparent);
    /* box-shadow: 0px 0px 4px #333; */
}

/* TODO: enable when overlay active */
.weather-container:hover {
    cursor: pointer;
}

.weather-container .state {
    font-size: 1.25rem;
}

.weather-container .state, #weather-overlay .state {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* font-weight: bolder; */
}

.weather-container .state img {
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
    filter: brightness(1.5);
    /* filter: drop-shadow(0 0 5px #ffffff33); */
}

.weather-container .location {
    font-weight: normal;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
}

#weather-overlay .weather-row:first-of-type {
    border-top: var(--border-separator);
}

#weather-overlay .weather-row {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border-separator);
    padding: 0.5rem 0;
    font-size: 1.125rem;
}

#weather-overlay .state img {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.75rem;
    filter: brightness(1.5);
}

#weather-overlay .state {
    font-size: 1.125rem;
}

#weather-overlay .temp {
    width: 7rem;
    display: flex;
    justify-content: space-between;
}

#weather-overlay .temp div {
    width: 2.4rem;
    text-align: end;
}

#weather-overlay .faded {
    color: var(--font-color-faded);
}
